<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    </head><body>
        <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><span>ALINA</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="StaffSignIn.html">Home</a>
            </li>
            <li>
              <a href="index.html">Sign Out<br></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <div class="btn-group btn-group-lg">
                                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">Movies&nbsp;<span class="fa fa-caret-down"><br></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="addMovie.html">ADD MOVIE</a>
                                                </li>
                                                <li>
                                                    <a href="deleteMovie.html">DELETE MOVIE</a>
                                                </li>
                                                <li>
                                                    <a href="modifyMovie.html">MODIFY MOVIE</a>
                                                </li>
                                                <li>
                                                    <a href="allMovie.html">ALL MOVIE</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="btn-group btn-group-lg">
                                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Showings&nbsp;<span class="fa fa-caret-down"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="addShowing.html">ADD SHOWING</a>
                                                </li>
                                                <li>
                                                    <a href="deleteShowing.html">DELETE SHOWING</a>
                                                </li>
                                                <li>
                                                    <a href="modifyShowing.html">MODIFY SHOWING</a>
                                                </li>
                                                <li>
                                                    <a href="allShowing.html">ALL SHOWING</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="btn-group btn-group-lg">
                                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">Customer&nbsp;<span class="fa fa-caret-down"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="addCustomer.html">ADD CUSTOMER</a>
                                                </li>
                                                <li>
                                                    <a href="deleteCustomer.html">DELETE CUSTOMER</a>
                                                </li>
                                                <li>
                                                    <a href="modifyCustomer.html">MODIFY CUSTOMER</a>
                                                </li>
                                                <li>
                                                    <a href="allCustomer.html">LIST CUSTOMER</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="btn-group btn-group-lg">
                                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">Genres&nbsp;<span class="fa fa-caret-down"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="allGenres.html">LIST GENRES</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="btn-group btn-group-lg">
                                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Rooms&nbsp;<span class="fa fa-caret-down"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="addRooms.html">ADD ROOMS</a>
                                                </li>
                                                <li>
                                                    <a href="deleteRooms.html">DELETE ROOMS</a>
                                                </li>
                                                <li>
                                                    <a href="modifyRooms.html">MODIFY ROOMS</a>
                                                </li>
                                                <li>
                                                    <a href="allRooms.html">ALL ROOMS</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="btn-group btn-group-lg">
                                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">Attend<span class="fa fa-caret-down"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="allAttendance.html">ALL ATTENDANCE</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                     <table class="table">
                            <thead>
                                <tr>
                                    <th>CustomerId</th>
                                    <th>ShowingId</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                             
                            <tbody>
                               {% for attend in Attend %}

                                <tr>
                                    <td>{{attend.0}}</td>
                                    <td>{{attend.1}}</td>
                                    <td>{{attend.2}}</td>
                                </tr>
                                   {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    

</body></html>