<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    </head><body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><span>ALINA</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="/SearchShowings">Search Showings</a>
                        </li>
                        <li>
                            <a href="/BuyTicket">Buy Ticket</a>
                        </li>
                        <li>
                            <a href="/RateMovie">Rate Movie</a>
                        </li>
                        <li>
                            <a href="/SignIn">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="https://aos.iacpublishinglabs.com/question/8b3b61c900e3bb6e10dbe2b0c3391e99/aq/700px-394px/can-out-movies-playing-regal-movie-theatre_f65c0e7ac28d81f5.jpg?domain=cx.aos.ask.com" class="center-block img-responsive">
                        <div class="col-md-12 text-center">
                            <h1>Welcome to ALINA Movie Theatre</h1>
                            
                            <br>
                            <br>
                            <a class="btn btn-lg btn-default" href="/SearchShowings">Search Showings</a>
                            <a class="btn btn-lg btn-default" href="/BuyTicket">Buy Ticket</a>
                            <a class="btn btn-lg btn-default" href="/RateMovie">Rate Movie</a>
                            <a class="btn btn-lg btn-default" href="/SignIn">Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">Movies</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a><img src="https://i.kinja-img.com/gawker-media/image/upload/s---zKMfGT0--/c_scale,fl_progressive,q_80,w_800/19fk32sw3nt1wjpg.jpg" class="img-responsive"></a>
                    </div>
                    <div class="col-md-3">
                        <a><img src="http://vignette3.wikia.nocookie.net/disney/images/a/a6/Up_Poster_Run.jpg/revision/latest?cb=20160202180816" class="img-responsive"></a>
                    </div>
                    <div class="col-md-3">
                        <a><img src="http://www.defynewyork.com/wp-content/uploads/2011/08/imgPulp-fiction1.jpg" class="img-responsive"></a>
                    </div>
                    <div class="col-md-3">
                        <a><img src="https://cdn.traileraddict.com/content/sony-pictures/aloha-poster-2.jpg" class="img-responsive"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a><img src="http://static.hd-trailers.net/images/the-martian-104112-poster-xlarge.jpg" class="img-responsive"></a>
                    </div>
                    <div class="col-md-3">
                        <a><img src="http://posterwire.com/wp-content/uploads/empire_strikes_back_style_a.jpg" class="img-responsive"></a>
                    </div>
                    <div class="col-md-3">
                        <a><img src="http://static.rogerebert.com/uploads/movie/movie_poster/midnight-in-the-garden-of-good-and-evil-1997/large_myqYibpqEu2Up4ilIU5hM8LVyYe.jpg" class="img-responsive"></a>
                    </div>
                    <div class="col-md-3">
                        <a><img src="http://agentpalmer.com/wp-content/uploads/2015/12/Die-Hard-1988-Official-Movie-Poster.jpg" class="img-responsive"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h1 class="text-center">Prices</h1>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Format</th>
                                                    <th>General (14-64)</th>
                                                    <th>Child (3-13)</th>
                                                    <th>Senior (65+)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>General</td>
                                                    <td>$10.99</td>
                                                    <td>$8.99</td>
                                                    <td>$8.99</td>
                                                </tr>
                                                <tr>
                                                    <td>3d</td>
                                                    <td>$13.99</td>
                                                    <td>$11.99</td>
                                                    <td>$11.99</td>
                                                </tr>
                                                <tr>
                                                    <td>DBox 3d</td>
                                                    <td>$21.99</td>
                                                    <td>$19.99</td>
                                                    <td>$19.99</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="section section-primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>ALINA</h1>
                                            <p></p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-info text-right">
                            <br>
                            <br>
                        </p>
                        <div class="row">
                            <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 hidden-xs text-right">
                                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    

</body></html>