<html><head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" "=" " rel="stylesheet " media="screen ">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css
        " rel="stylesheet " media="screen ">
    </head><body>
        <div class="navbar navbar-default ">
            <div class="container ">
                <div class="navbar-header ">
                    <button type="button " class="navbar-toggle
        " data-toggle="collapse " data-target="#navbar-ex-collapse ">
                        <span class="sr-only ">Toggle navigation</span>
                        <span class="icon-bar "></span>
                        <span class="icon-bar "></span>
                        <span class="icon-bar "></span>
                    </button>
                    <a class="navbar-brand " href="/ "><span>ALINA</span></a>
                </div>
               <div class="collapse navbar-collapse " id="navbar-ex-collapse ">
                    <ul class="nav navbar-nav navbar-right ">
                        <li>
                            <a href="/Customer ">Home</a>
                        </li>
                        <li class="active ">
                            <a href="/SearchShowings ">Search Showings</a>
                        </li>
                        <li>
                            <a href="/BuyTicket ">Buy Ticket</a>
                        </li>
                        <li>
                            <a href="/RateMovie ">Rate Movie</a>
                        </li>
                        <li>
                            <a href="/SignIn ">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        
        
     <!-- /.container -->
        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js "></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
        <!-- Moment Javascript -->
        <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js "></script>
        <!-- Include Date Range Picker -->
        <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.24/daterangepicker.js "></script>
        <link rel="stylesheet " type="text/css " href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.24/daterangepicker.css ">
        <!-- Date Range function -->
        <script type="text/javascript ">
            $(function() {
                    			$('input[name="startDate "]').daterangepicker({
                    				singleDatePicker: true,
                    				showDropdowns: true
                    			});
                    		});
        </script>

        <div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1  class="text-center text-primary">Showings</h1>
            </div>
        </div>
    </div>
</div>
<div class="section ">
    <div class="container ">
        <div class="row ">
                            {% for date in Date %}

            <div class="col-md-6">

                <h2 class="text-info ">{{date.0}}</h2>
                <p>Date And Time: {{date.1}}<br>Room Number:{{date.2}}<br>Ticket Price: ${{date.3}}<br>Capacity:{{date.4}}</p>

            </div>
                                                          {% endfor %}

        </div>
    </div>
</div>
    

</body></html>